My Amplifier*
My Inspector*
bin
lib
build
tmp
samples/*/*.dat
samples/*/*.pdf
samples/*/*.png
*.stackdump
*.opensdf
*.user
*.docx
*.log
*.exe
*.dll
*.ilk
*.sdf
*.pdb
*.suo
*.exp
*.lib
*.obj
*.o